@import 'tailwindcss';

@theme inline {
  --color-primary: #27700d;
  --color-secondary: #f1c644;
  --font-sans: var(--font-poppins);
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
}

@utility clip-footer-mobile {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 50% 10%);
}

@utility clip-footer-desktop {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 50% 20%);
}
